@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #F294D9,#D93BAF);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10x 15px, black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color:#4F1BBF ;
    text-align: center;
    text-shadow: 1px 1px 2px #3011749a;

}
h2{
    color:#4ACAD9 ;
}
p {
    text-align: justify;
}
